<div class="content">
	<p class="definition">
		<strong>Change</strong> - <em>v</em>. To become different.
	</p>
	<%= form_for @user, url: profile_path, html: { multipart: true } do |f| %>
		<%= render 'form', :f => f %>
		<p>
			<%= f.submit "Commit" %>
		</p>
	<% end %>
	<p>
		<%= link_to 'Modify Account Settings', edit_user_registration_path %>
	</p>
</div>