<% content_for :head do %>
	<title>Change</title>
<% end %>

<div id="content">
	<div id="definition">
		<strong>Change</strong> - <em>v</em>. To become different.
	</div>
	<%= render 'form' %>
</div>
<div id="content">
	<%= markdown(@page.content).html_safe =%>
</div>