<div class="comment <%= ((comment.depth % 2) == 0)? 'odd' : 'even' %>">
	<%= render 'comments/single', :comment => comment %>
	<% if comment.has_children? %>
		<div class="children">
			<% comment.children.each do |child| %>
				<%= render partial: 'comments/comment_recursive', :comment => child %>
			<% end %>
		</div>
	<% end %>
</div>