<% if comment.is_root? %>
	<div class='comment'>
		<%= render 'comments/single', :comment => comment %>
		<div class='children' id='children-<%= comment.id %>'>
			<% comment.descendants.each do |child| %>
				<div class='comment'>
					<%= render 'comments/single', :comment => child %>
				</div>
			<% end %>
		</div>
	</div>
<% end %>