<div class="comment">
	<%= render 'comments/single', :comment => comment %>
	<% if comment.has_children? %>
		<div class="children">
			<% comment.descendants.each do |child| %>
				<div class="comment">
					<%= render 'comments/single', :comment => child %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>