<% if !@item.comments.blank? | can?(:create, Comment) %>
	<div class="comments">
		<% if !@item.comments.blank? %>
			<p id="definition">
				<strong><%= t :comment_section %></strong>
			</p>
			<hr>
			<% @item.comments.find_each do |comment| %>
				<%= render partial: 'comments/comment_lownest', locals: {item: @comment.item_id, comment: comment} %>
			<% end %>
		<% end %>
		<div id="comment-new">
		</div>
		<% if can? :create, Comment %>
			<%= render 'comments/form' %>	
		<% end %>
	</div>
<% end %>