<% if !@item.comments.where(:deleted => false).blank? | can?(:create, Comment) %>
	<div class="comments">
		<% if !@item.comments.where(:deleted => false).blank? %>
			<p id="definition">
				<strong><%= t :comment_section %></strong>
			</p>
			<hr>
			<% @item.comments.where(:ancestry => nil).each do |comment| %>
				<%= render partial: 'comments/comment_lownest', locals: {item: @comment.item_id, comment: comment} %>
			<% end %>
		<% end %>
		<div id="comment-new">
		</div>
		<% if can?(:create, Comment) && @item.published? %>
			<%= render 'comments/form' %>
		<% else %>
			<%= link_to 'Log in to comment', new_user_session_path %>
		<% end %>
	</div>
<% end %>