<div class="comments">
	<% if can? :create, @comment %>
		<%= render 'comments/form' %><hr>
	<% end %>
	<% @item.comments.find_each do |comment| %>
		<% if comment.is_root? %>
			<%= render partial: 'comments/comment', object: comment %>
			<hr>
		<% end %>
	<% end %>
</div>