<div>
<%= link_to_if((controller_name != 'admin'), :admin_index, admin_root_path) %>
<span class="htab"></span>
<%= link_to_if((controller_name != 'menus'), :edit_menus, admin_menus_path) %>
<span class="htab"></span>
<%= link_to_if((controller_name != 'logolink'), :edit_logolinks, admin_logolink_index_path) %>
</div>