<% content_for :head do %>
	<title>Admin Tools</title>
<% end %>

<div class="content">
	<%= render 'admin/bar' %>
	<p class="definition">
		<strong>Admin Tools</strong>
	</p>
	<p>
	Presently, all other administrator tools are accessed from the page to which they apply.
	</p>
</div>