.content.narrow
  - if can? :destroy, @group
    .actions
      = link_to t(:delete_nav).html_safe, group_path(@group),method: :delete,data: { confirm: t(:confirm_deletion) }
  %h3
    = @group.title
  .group
    .members
      - @group.users.each do |user|
        .entry.user
          = user.display_name
          - if user.in_group?(@group, as: 'manager')
            = t(:crown_nav).html_safe