- if Core.first.show_icons?
  #linkbar
    - @links.each do |link|
      - if link.display?
        = link_to '', link.url, :id => link.css_id, :class => t(:logolink_class_helper, :link => link.css_class)
