<% if Core.first.show_icons? %>
	<div id="linkbar">
		<%= link_to_if(Core.first.email?, '&nbsp'.html_safe, 'mailto:' + Core.first.email, {:id => 'email-link'}) %>
		<%= link_to_if(Core.first.github?, '&nbsp'.html_safe, 'https://github.com/' + Core.first.github, {:id => 'github-link' }) %>
		<%= link_to_if(Core.first.twitter?, '&nbsp'.html_safe, 'https://twitter.com/' + Core.first.twitter, {:id => 'twitter-link'}) %>
	</div>
<% end %>