<div id="linkbar">
	<%= link_to '&nbsp'.html_safe, 'mailto:rowan.abraham@gmail.com', :id => 'email-link' %>
	<%= link_to '&nbsp'.html_safe, 'https://github.com/Sorbus/aucuparia', :id => 'github-link' %>
	<%= link_to '&nbsp'.html_safe, 'https://twitter.com/S_aucuparia', :id => 'twitter-link' %>
</div>