<div id="menu">
			<ul class="menu">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a>Thoughts</a>
				<ul class="submenu">
					<li><a href="/categories/2">On Biology</a></li>
					<li><a href="/categories/3">On Books</a></li>
					<li><a href="/categories/4">On Cooking</a></li>
				</ul></li>
				<li><a>Beyond</a>
				<ul class="submenu">
					<li><a href="/categories/5">Elsewhere</a></li>
					<li><a href="/categories/6">Otherwhen</a></li>
					<li><a href="/categories/7">Somniatis</a></li>
					<li><a href="/categories/8">Mindless</a></li>
				</ul></li>
			</ul>
			<span class="clear"></span>
		</div>