<div class="content">
	<p>
		<%= link_to 'Recent Posts', fetch_path(:node => '1'), :remote => true %>
		<span class="htab"></span>
		<%= link_to 'All Categories', fetch_path(:node => '2'), :remote => true %>
		<span class="htab"></span>
		<%= link_to 'All Posts', items_path, :remote => true %>
	</p>
	<div id="items">
		<%= render 'recent_block', :recent => @recent %>
	</div>
</div>