<% content_for :head do %>
	<title>About Aucuparia</title>
<% end %>

<div id="content" class="about">
	<span id="actions">
		<% if can? :update, @page %>
			<%= link_to 'Change', edit_admin_path(@page) %>
		<% end %>
	</span>
	<%= markdown(@page.content).html_safe %>
	<br>
	<div id="navigation">
		<a href="/categories">All Categories</a><span class="tab"></span><a href="/items">All Items</a>
	</div>

</div>