<% content_for :head do %>
	<title>About Aucuparia</title>
<% end %>

<div id="content">
	<div id="definition">
		<strong>Aucuparia.net</strong> - <em>n</em>. An experiment of sorts.
	</div>
	<p>
		This website is running on Ruby on Rails, proxied through NGINX. Some portions of it live in an SQLite database; some portions do not. Ultimately, it lives on a rather small NAS sitting near an ocean, by way of a bay. It is designed to be fully functional on both desktop and mobile browsers, and to look much the same on both.
	</p>
	<p>
		In addition to a tendency to try to explain words by defining them, this website contains thoughts on a variety of subjects, most notably the most valuable scientific discipline (Biology, clearly), books (particularly genre fiction), and cooking (mainly recipes for baked goods).
	</p>
	<p>
		It also contains a variety of other things. The entire thing exists in varying states of completion, so do not be surprised by any lack of functionality, or any unexpected functionalities. It is an experiment, after all.
	</p>
	<br>
	<div id="navigation">
		<a href="/categories">All Categories</a><span class="tab"></span><a href="/items">All Items</a>
	</div>

</div>