<% content_for :head do %>
	<title><%= @page.title %></title>
<% end %>

<div class="content" id="main">
	<span class="actions">
	<%= link_to_if(can?(:update, @page), 'Change', edit_admin_core_path(@page)) %>
	</span>
	<%= markdown(@page.content).html_safe %>
	<%= render 'logolinks' %>
</div>