<% content_for :head do %>
	<title>Aucuparia</title>
<% end %>

<div id="content">
	<div id="definition">
		<strong>Aucuparia</strong> - <em>n</em>. A deciduous tree in the <em>Rosaceae</em> family, often called the rowan or mountain-ash, more properly referred to by its full binomial name, <em>Sorbus aucuparia</em>. <em>Lit.</em> "birdcatcher", from <em>avis</em> (latin, "bird") and <em>capere</em> (latin, present infinitive form of <em>capio</em>, "to capture"), named as such because of the use of its fruit as bait for fowling.
	</div>
	<div id="contact">
		<a href="mailto:rowan@aucuparia.net">rowan@aucuparia.net</a>
	</div>
</div>