$primary-background: rgba(239, 237, 235, 1);
$secondary-background: rgba(238, 238, 238, 1);
$primary-foreground: rgba(118, 92, 57, 1);
$secondary-foreground: rgba(132, 107, 77, 1);
$tertiary-foreground: rgba(78, 61, 38, 1);

.menu_edit {
	overflow:auto;

	form {
		margin: 0.5em;
		max-width: 10.25em;
		min-height: 5em;
		float: left;
		padding: 0.5em;
		border: 1px dotted $primary-foreground;
		background-color:inherit;
			
		.actions {
			margin-top:-.2em;
		}
	}
	
	p {
		margin-top:0em;
	}

	form #tab{
		width: 4em;
		float: left;
	}

	input, select {
		width: 100%;
		max-width: 25em;
		display: block;
		background-color: $secondary-background;
		border: 1px solid $primary-foreground;
		}

	input[readonly="readonly"] {
		opacity: 0.5;
		}

	label {
		padding-right:1em;
		display:inline-block;
		min-width:3em;
		}

	textarea {
		width: 99%;
		height: 15em;
		background-color: $secondary-background;
		border: 1px solid $primary-foreground;
		display:block;
		}

	input[type=submit] {
		max-width: 5em;
		}

	input[type=checkbox] {
		width: 1em;
		display: initial;
		}
	}