.content.narrow
  %span.actions
    = link_to t(:index_nav).html_safe, tags_path, :remote => true
  %p.definition
    = 'All items tagged with "' + params[:tag] + '".'
  - if !@items.empty?
    - @items.each do |item|
      %hr/
      = render 'items/single', :item => item
    %hr/
    = paginate @items, :remote => true
  - else
    %br/
    There's nothing here ...
