<div class="content">
	<i class="fa fa-fire-extinguisher fa-4x right"></i>
	<strong>500</strong> - <em>n</em>. An error message indicating that an unspecified server error has occurred. It is one of a variety of 5xx status codes, all of which describe errors resulting from a problem with the server. Other errors include:
	<ul class="dashed">
		<li><em>501</em><span class="tab"></span>Not Implemented</li>
		<li><em>502</em><span class="tab"></span>Bad Gateway</li>
		<li><em>503</em><span class="tab"></span>Service Unavailable</li>
		<li><em>504</em><span class="tab"></span>Gateway Timeout</li>
		<li><em>508</em><span class="tab"></span>Loop Detected</li>
	</ul>
</div>