.content
  %i.fa.fa-fire-extinguisher.fa-4x.right
  %strong 500
  \-
  %em n.
  \- An error message indicating that an unspecified server error has occurred. It is one of a variety of 5xx status codes, all of which describe errors resulting from a problem with the server. Other errors include:
  %ul.dashed
    %li
      %em 501
      %span.tab
      Not Implemented
    %li
      %em 502
      %span.tab
      Bad Gateway
    %li
      %em 503
      %span.tab
      Service Unavailable
    %li
      %em 504
      %span.tab
      Gateway Timeout
    %li
      %em 508
      %span.tab
      Loop Detected
