<div class="content">
	<i class="fa fa-exclamation-triangle fa-4x right"></i>
	<strong>404</strong> - <em>n</em>. An error message indicating that an Internet address cannot be found. It is one of a variety of 4xx status codes, all of which describe errors resulting from a problem with the client. Other errors include:
	<ul class="dashed">
		<li><em>401</em><span class="tab"></span>Unauthorized</li>
		<li><em>403</em><span class="tab"></span>Forbidden</li>
		<li><em>410</em><span class="tab"></span>Gone</li>
		<li><em>412</em><span class="tab"></span>Precondition Failed</li>
		<li><em>418</em><span class="tab"></span>I'm a teapot</li>
	</ul>
</div>