.created {
	float:right;
	text-align:right;
	opacity:0.5;
	margin-top:0.5em;
	@include transition(0.25s, all);
	
	&:hover {
		opacity:1;
		}
	}
	
.fade {
	opacity:.5;
	@include transition(0.25s, all);
	
	&:hover {
		opacity:1;
		}
	}

.category {
	float:left;
	text-align:right;
	opacity:.5;
	margin-top:0.5em;
	@include transition(0.5s, all);
	
	&:hover {
		opacity:1;
		}
	}
	
.title {
	margin-top:0.5em;
    padding-bottom: .4em;
    border-bottom: 1px dotted $primary-foreground;
	}

.actions {
	float:right;
	opacity:0.5;
	font-size:small;
	margin-left:1em;
	@include transition(0.5s, all);
	text-align:right;
	
	&:hover {
		opacity:1;
		}
		
	a {
		margin:.5em .5em 0em;
        @include transition(0.2s, all);
        float:left;
        
        &:hover {
            font-size:1.5em;
            margin:.1em .1em 0em;
            }
		
		&:first-of-type {
			
			}
            
        &:last-of-type {
            margin-right:0em;
            &:hover {
                margin-right:-.15em;
                }
            }
		}
	}
    
.comments, .lock-edit { 
    .actions {
        a {
            margin:0em .5em 0em!important;
            font-size:1em!important;
            }
        }
    }