form {
	margin-top: 1em;
	
	#tab{
		width: 4em;
		float: left;
		}

	input, select {
		width: 100%;
		max-width: 25em;
		display: block;
		background-color: $secondary-background;
		border: 1px solid $primary-foreground;
		}

	input[readonly="readonly"] {
		opacity: 0.5;
		}

	label {
		padding-right:1em;
		display:inline-block;
		min-width:7em;
		}

	textarea {
		width: 99%;
		height: 15em;
		background-color: $secondary-background;
		border: 1px solid $primary-foreground;
		display:block;
		}

	input[type=submit] {
		width: 10em;
		}

	input[type=checkbox] {
		width: 1em;
		display: initial;
		}
	}