.lock-edit {
	.new {
		margin-top:-2em;
		}
	.group {
		margin-bottom:.5em;
		border: 1px dotted $primary-foreground;
		border-radius: .5em;
		padding-top: 1px;
		padding-right:.2em;
		
		&:last-of-type {
			margin-bottom:0em;
			}
			
		.members {
			border: 1px dotted $primary-foreground;
			border-radius: .5em;
			margin-left: 1em;
			margin-top: .2em;
			margin-bottom: .5em;
			margin-right: .2em;
			padding-bottom: .3em;
			padding-left: .2em;
			overflow:auto;
			max-height:10em;
			
			.entry {
				float:left;
				min-width:33%;
				margin-top:.5em;
				}
			}
		
		.actions {
			opacity:1;
			}
		}
				
	a {
		text-decoration:none;
		}
	}
	
.groups {
	.group {
		
		position:relative;
		padding-left:1em;
		
		&:before {
			content: "\f054";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			/*--adjust as necessary--*/
			color: #000;
			font-size: 18px;
			padding-right: 0.5em;
			position: absolute;
			top: 0px;
			left: 0;
			}
			
		a {
			text-decoration: none;
			}
			
		div {
			&:first-of-type {
				border-bottom: 1px dotted $primary-foreground;
				}
			}
		}
	}