<div class="content">
	<p class="definition">
		<%= t(:index_definition).html_safe %>
		<% if can? :create, @item %>
			<span class="actions">
				<%= link_to t(:create_nav).html_safe, new_item_path %>
			</span>
		<% end %>
	</p>
	<% @posts.each do |item| %>
		<hr>
		<%= render 'items/single', :item => item %>
	<% end %>
	<hr>
	<%= will_paginate @posts =%>
</div>