<div class="content narrow">
	<p class="definition">
		<%= t(:index_definition).html_safe %>
		<% if can? :create, Item %>
			<span class="actions">
				<%= link_to t(:create_nav).html_safe, new_item_path, :remote => true %>
			</span>
		<% end %>
	</p>
	<% @posts.each do |item| %>
		<hr>
		<%= render 'items/single', :item => item %>
	<% end %>
	<hr>
	<%= paginate @posts, :remote => true =%>
</div>