<% content_for :head do %>
	<title>Change</title>
<% end %>

<div class="content">
	<p class="definition">
		<strong>Change</strong> - <em>v</em>. To become different.
	</p>
	<%= render 'form' %>
</div>
<% if @item.content.present? %>
	<div class="content">
		<%= markdown(@item.content).html_safe =%>
	</div>
<% end %>