<% content_for :head do %>
	<title>Creation</title>
<% end %>

<div id="content">
	<div id="definition">
		<strong>Creation</strong> - <em>n</em>. The act of causing something that does not exist to exist.
	</div>
	<%= render 'form' %>
</div>