// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-background: rgba(239, 237, 235, 1);
$secondary-background: rgba(238, 238, 238, 1);
$tertiary-background: rgba(227, 225, 223, 1);
$primary-foreground: rgba(118, 92, 57, 1);
$primary-foreground-fade: rgba(118, 92, 57, 0.5);
$primary-foreground-fade2: rgba(118, 92, 57, 0.2);
$secondary-foreground: rgba(132, 107, 77, 1);
$tertiary-foreground: rgba(78, 61, 38, 1);
$view-max-width: 400px;

@mixin transition($time, $attribute) {
	-moz-transition: $attribute $time ease-in-out;
	-webkit-transition: $attribute $time ease-in-out;
	-o-transition: $attribute $time ease-in-out;
	-ms-transition: $attribute $time ease-in-out;
	transition: $attribute $time ease-in-out;
}

.comments {
	overflow:hidden;

	form {
		margin-top:0em;
		}
		
	textarea {
		height:5em;
		}
	
	.actions {
		margin-top:.5em;
		margin-right:0em;
		padding:.5em;
		padding-right:1em;
		border-left: 1px solid $primary-foreground;
		border-top: 1px solid $primary-foreground;
		border-bottom: 1px solid $primary-foreground;
		border-radius: 5px 0px 0px 5px;
		}
		
	.actions:hover {
		padding-right:2em;
		}
		
	.comment:nth-child(even) {
		background-color:$tertiary-background;
		
		.actions {
			background-color:$secondary-background;
			}
		}
		
	.comment:nth-child(odd) {
		background-color:$secondary-background;
		
		.actions {
			background-color:$tertiary-background;
			}
		}
	}
	

.comment {
	padding-bottom: 5px;
	padding-top:0.1em;
	padding-left: 1em;
	margin-left: -1em;
	margin-right: -1em;
	
	.byline {
		margin-left:0em;
		@include transition(0.5s, all);
		
		i {
			display: inline-block;
			}
			
		fa {
			height:2em;
			float:left;
			}
			
		.user-image {
			border-radius:50% 0% 50% 0%;
			border: 2px solid $primary-foreground-fade;
			}
		}
	
	.byline:after {
		}
		
	.comment_body {
		border-left:.3em solid $primary-foreground-fade;
		padding-left:.4em;
		}
	
	.children {
		padding-top:0.1em;
		padding-left: 0.5em;
		border-left: .3em solid $primary-foreground-fade2;
		
		.comment {
			margin-right:0em;
			margin-left:0em;
			padding-left:0em;
			}
			
		.comment:nth-child(even) {
			
			}
		}
		
	p {
		position:relative;
		z-index:4;
		margin-left:0em;
		margin-top:0em;
		padding-top:1em;
		@include transition(0.5s, all);
		width:100%;
		}
		
	h1, h2, h3, h4, h5, h6 {
		@extends p
		}
		
	p:first-of-type {
		padding-top:0.1em;
		}
	
	p:last-of-type {
		padding-bottom:.5em;
		}
		
	.comment_core {
		padding-bottom:0.2em;
		}
		
	/*.comment_core:hover {
		p {
			padding-left:1em;
			padding-right:-1em;
			}
			
		.byline {
			margin-left:2em;
			}
		}*/
		
	.actions {
		position:relative;
		z-index:5
		}
	}
	
.odd {
	background-color: $secondary-background;
	}

.even {
	background-color: $primary-background;
	}
	