$primary-background: rgba(239, 237, 235, 1);
$secondary-background: rgba(238, 238, 238, .9);
$primary-foreground: rgba(118, 92, 57, 1);
$secondary-foreground: rgba(132, 107, 77, 1);
$tertiary-foreground: rgba(78, 61, 38, 1);
$view-max-width: 25em;

@mixin transition($time, $attribute) {
	-moz-transition: $attribute $time ease-in-out;
	-webkit-transition: $attribute $time ease-in-out;
	-o-transition: $attribute $time ease-in-out;
	-ms-transition: $attribute $time ease-in-out;
	transition: $attribute $time ease-in-out;
	}

@mixin boxy {
	max-width:$view-max-width;
	margin:0px auto;
	text-align:left;
	border:1px solid $primary-foreground;
	background-color: $secondary-background;
	color:$primary-foreground;
	margin-bottom:20px;
	}

nav {
	@include boxy;
	padding-left:15px;
	padding-right:15px;
	text-align:center;
	
	ul {
		text-align: left;
		display: inline;
		margin: 0;
		padding: 15px 0px 17px 0px;
		list-style: none;
		}

	ul li {
		display: inline-block;
		margin-right: -4px;
		position: relative;
		/* background: $secondary-background; */
		cursor: pointer;
		text-align:center;
		@include transition(.1s, all);
		
		&:hover {
			background: $tertiary-foreground;
			color: $secondary-background;
			}
			
		a {
			padding: 15px 20px;
			display: inline-block;
			width: auto;
			min-width: 60px;
			}
		}
	
	ul li ul {
		padding: 0;
		position: absolute;
		top: 48px;
		left: 0px;
		right: 10px;
		width: auto;
		min-width: 120px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		opacity: 0;
		visibility: hidden;
		z-index:100;
		@include transition(.1s, all);
		-webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.25);
		box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.25);
		
		li { 
			background: $tertiary-foreground; 
			display: block; 
			color: $secondary-background;
			opacity:0.9;
			@include transition(.2s, all);
			
			&:hover {
				background: #695a46;
				color: $tertiary-foreground;
				text-shadow: 0 -1px 0 #000;
				}
				
			a:hover {
				color: $tertiary-foreground!important;
				}
			}
		}

	ul li:hover ul {

		opacity: 1;
		visibility: visible;
		}

	a {
		color: inherit;
		font-style: normal;
		text-decoration: none;
		
		&:hover {
			color: $secondary-background;
			}
		}
	}
	
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: $primary-background;
	background: $tertiary-foreground;
	text-align: center;
	padding: 10px 0;
	width: 100%;
	display: none;
	}

#show-menu{
	display: none;
	}

input[type=checkbox]:checked ~ header .menu {
	display: block;
	}

/*Responsive Styles*/

@media screen and (max-width : 27em){

	.show-menu {
		display:block;
	}
	
	header {	
		ul {
			position: static;
			display: none;
			}

		li {
			margin-bottom: 0px;
			}
			
		ul li, li a {
			width: 100%;
			}
		
		ul li ul {
			display: inline-block;
			width: 100%;
			}
		
		ul li:hover ul {
			display: inline-block;
			opacity: 1;
			visibility: visible;
			}
		}	
	}