.pagination {
	-webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0);
	-moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0);
	box-shadow: 5px 5px 2px 0px rgba(0,0,0,0);
	text-align:center;
	border: 0px solid black;
	background: none;
	margin-bottom:0px;

	.previous {
		padding: 2px;
		}

	.next {
		padding: 2px;
		}

	.current {
		padding: 2px;
		font-weight: bold;
		font-style: normal;
		}

	.page {
		padding: 2px;
		}
	}