<div class="entry">
	<div class="title">
		<%= link_to category.name, category_path(category), :remote => true %>
		<% if can? :update, category %>
			<span class="actions">
				<%= link_to t(:change_nav).html_safe, edit_category_path(category), :remote => true %>
				<span class="htab"></span>
				<%= link_to t(:delete_nav).html_safe, category_path(category),method: :delete,data: { confirm: t(:confirm_deletion) } %>
			</span>
		<% end %>
	</div>
</div>