<div class="entry">
	<div class="title">
		<%= link_to category.name, category_path(category), :remote => true %>
		<% if can? :update, category %>
			<span class="actions">
				<%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_category_path(category) %>
				<span class="htab"></span>
				<%= link_to '<i class="fa fa-times fa-lg"></i>'.html_safe, category_path(category),method: :delete,data: { confirm: 'Are you sure?' } %>
			</span>
		<% end %>
	</div>
</div>