<% content_for :head do %>
	<title>Change</title>
<% end %>

<div id="content">
	<div id="definition">
		<strong>Creation</strong> - <em>v</em>. To become different.
	</div>
	<%= render 'form' %>
</div>