<% content_for :head do %>
	<title>Creation</title>
<% end %>

<div class="content">
	<p class="definition">
		<strong>Creation</strong> - <em>n</em>. The act of causing something that does not exist to exist.
	</p>
	<%= render 'form' %>
</div>