$('#yield').html('#{escape_javascript(render partial: 'show' )}');
var title = '#{t(:view_category_title, :title => @category.name)}'
history.pushState( null, title, '#{category_path(params[:id])}' )
