<div class="content">
	<p class="definition">
		<%= t(:change_definition).html_safe %>
	</p>
	<%= render 'form' %>
</div>
<% if @page.content.present? %>
	<div class="content">
		<%= markdown(@page.content).html_safe =%>
	</div>
<% end %>