<% content_for :head do %>
	<title>Change</title>
<% end %>

<div id="content">
	<p id="definition">
		<strong>Change</strong> - <em>v</em>. To become different.
	</p>
	<%= render 'form' %>
</div>
<% if @page.content.present? %>
	<div id="content">
		<%= markdown(@page.content).html_safe =%>
	</div>
<% end %>