<% content_for :head do %>
	<title>Admin Tools</title>
<% end %>

<div class="content">
	<p class="definition">
		<strong>Admin Tools</strong>
	</p>
	<p>
	<%= link_to :edit_menus, admin_menus_path %>
	</p>
	<p>
	Presently, all other administrator tools are accessed from the page to which they apply.
	</p>
</div>