<div class="content narrow">
	<%= render 'bar' %>
	<p class="definition">
		<%= t(:admin_tools_definition).html_safe %>
	</p>
	<p>
	Presently, all other administrator tools are accessed from the page to which they apply.
	</p>
</div>