<div class="content">
	<%= render 'bar' %>
	<p class="definition">
		<strong>Admin Tools</strong>
	</p>
	<p>
	Presently, all other administrator tools are accessed from the page to which they apply.
	</p>
</div>