$('#yield').html('#{escape_javascript(render partial: 'index' )}');
var title = '#{t(:edit_permissions_title, :title => @item.title)}'
history.pushState( null, title, '#{item_lock_index_path(params[:item_id])}' )
