<% content_for :head do %>
	<title>Authentication</title>
<% end %>

<div id="content">
	<div id="definition">
		<strong>Authentication</strong> - <em>n</em>. The act of confirming the truth of an attribute of a datum or entity.
	</div>
	<%= render 'form' %>
</div>